.Flag {
  position: relative;
  width: 150px;
  height: 250px;
  background-color: white;
  margin: 150px auto;
  border-top: 2px solid black;
  border-bottom: 2px solid black; }
  .Flag::before, .Flag::after {
    content: "";
    position: absolute;
    top: -2px;
    width: 150px;
    height: 250px;
    border: 2px solid black;
    transition: all ease 1s; }
  .Flag::before {
    left: -150px;
    background-color: blue;
    border-right: none; }
  .Flag::after {
    right: -150px;
    background-color: red;
    border-left: none; }
  .Flag:hover::before {
    left: 150px;
    background-color: orange;
    border-right: 2px solid black;
    border-left: none; }
  .Flag:hover::after {
    right: 150px;
    background-color: green;
    border-right: none;
    border-left: 2px solid black; }
